/* CSS of Summertime Shenanigans */
/* Styles */
html {
	font-size: 62.5%;
}

header {
  	text-align: center;
  	color:black;
  	font-family: "Times New Roman"
 	font-size: 4.5rem;
}
h1 {
	text-align: center;
  	color: black;
}

body {
  	background-image: url('pictures/beach.jpg');
  	background-repeat: no-repeat;
  	background-attachment: fixed;
  	background-size: cover;
  	margin: 0px;

  	font-size: 1.6rem;
}

footer {
  	text-align: left;
 	color: black;
  	font-family: "Times New Roman"
}

/* Optimizing for smaller screens */
@media only screen and (max-width: 768px) {
	.flexSetup {
		flex-direction: column;
	}

	.navigation {
		border-bottom-style: dotted;
		border-bottom-width: .7rem;
		border-bottom-color: black;

		display: flex;
		flex-wrap: wrap;
		flex-direction: row;
		align-items: center;
  		justify-content: center;
	}
}

/* Classes */
.flexSetup {
	display: flex;
	flex-wrap: nowrap;
  	justify-content: flex-start;
  	align-items: stretch;
  	align-content: stretch;
}

.navigation {
	flex-basis: auto;
	flex:10%;
  	border-right-style: dotted;
	border-right-width: .7rem;
	border-right-color: black;

	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	align-items: center;
  	justify-content: center;
}

.navigation > div {
	filter: brightness(70%);
	background: url('pictures/ball.png');
	background-size: cover;
 	background-repeat: no-repeat;

	border-radius: 50%;
	height: 15.0rem;
  	width: 15.0rem;
}

.navigation div:hover:not(.current){
	filter: brightness(90%);
}

.navigation .current{
	filter: brightness(100%);
}

.navigation a{
	text-decoration: none;
}

.content {
	flex-basis:auto;
	flex:90%;
}

/*.navigation ul{
	position: fixed;
	list-style-type: none;
	width: 13%;
	margin: 0px;
	height: 100%;
	padding-left: 10px;
  	overflow-x: hidden;

  	background-color: gray;
  	border-right-style: dotted;
	border-right-width: 7px;
	border-right-color: black;
}

.navigation li{
	filter: brightness(70%);
	background: url('pictures/ball.png');
	background-size: cover;
 	background-repeat: no-repeat;

	border-radius: 50%;
	height: 200px;
  	width: 200px;
  	padding: 5px;
  	line-height: 150px;
  	margin: 10px;
}

.navigation li:hover:not(.current){
	filter: brightness(90%);
}

.navigation .current{
	filter: brightness(100%);
}

.navigation a{
	text-decoration: none;
}

.navigation h1{
	color:black;
	text-align: center;
}

.homepageInfo{
	display: inline;
	background-color: 255, 255, 255, 0.4;
  	z-index:5;
}*/
