/* CSS of Summertime Shenanigans */
/* Styles */
header{
  	text-align: center;
  	color:black;
  	font-family: "Times New Roman"
 	font-size: 45px;
}
h1 {
	text-align: center;
  	color: black;
}
body {
  	background-image: url('pictures/beach.jpg');
  	background-repeat: no-repeat;
  	background-attachment: fixed;
  	background-size: cover;
  	margin: 0;
}
footer {
  	text-align: left;
 	color: black;
  	font-family: "Times New Roman"
}

/* Classes */
.interactiveColumn ul{
	list-style-type: none;
	position: fixed;
	width: 15%;
	height: 100%;
	margin: 0;
  	padding: 50;
}

.interactiveColumn li{
	filter: grayscale(100%);
	background: url('pictures/ball.png');
	background-size: cover;
 	background-repeat: no-repeat;

	border-radius: 50%;
	height: 200px;
  	width: 200px;
  	padding: 5px;
  	line-height: 150px;
  	margin: 10px;
}

.interactiveColumn li:hover{
	filter: grayscale(0%);
}

.interactiveColumn .current{
	filter: grayscale(0%);
}

.interactiveColumn a{
	text-decoration: none;
}

.interactiveColumn h1{
	color:black;
	text-align: center;
}

.verticalHR {
	height: 100%;
	border-left: 6px solid green;
	left: 50%;
}
.homepageInfo{
	display: inline;
	background-color: 255, 255, 255, 0.4;
  	z-index:5;
}
